.bake{
 color: brown;
 text-align: center;
}
form{
    background-color:rgb(239, 238, 238);
    margin:auto;
    padding: 56;
    border: radius 20px;
    background-size: cover;
}
img{
    width: 111;
    
}