.container{
    display: grid;
   grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
}

.box{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}